main #pseudo-carrousel {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-inline: min(7.3%, 140px);
  height: clamp(595px, 40.625vw, 780px);

  background-image: url(../../assets/laranja_azul_recorte.png);
  background-repeat: no-repeat;
  background-position: right;

  color: white;
}

main #pseudo-carrousel h2 {
  font-size: 5rem;
  text-transform: capitalize;
  margin-bottom: 3rem;
}

main #pseudo-carrousel p {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 300;

  display: flex;
}

main #pseudo-carrousel p a {
  transition: all 750ms;
}

main #pseudo-carrousel p a:hover {
  text-decoration: underline;
  transform: scale(1.15);
}

@media screen and (445px < width <= 1536px) {
  main #pseudo-carrousel {
    background-position: 65%;
  }
}

@media screen and (445px < width <= 900px) { /* 768 */
  main #pseudo-carrousel {
    justify-content: flex-end;
    padding-bottom: 8.5vw;
  }
  
  main #pseudo-carrousel h2 {
    font-size: 8.88vw;
  }
  
  main #pseudo-carrousel p {
    font-size: 4.44vw;
  }
}

/*  ----- Mobile Size   375 × 667 ----- */
@media screen and (width <= 445px) {
  main #pseudo-carrousel {
    justify-content: flex-end;
    padding-bottom: 8.5vw;
    height: 96vh;

    background-size: auto 110%;
    background-position: 85%;
  }
  
  main #pseudo-carrousel h2 {
    font-size: 13.33vw;
    margin-bottom: 5vw;
  }

  main #pseudo-carrousel p {
    font-size: 4.8vw;
  }
}