footer {
  background-color: #F6F6F6;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: clamp(2.75rem, 9%, 10rem);

  min-height: 126px;

  padding: 2.75rem 0;
  padding-inline-start: min(140px, 7.3%);
  padding-inline-end: min(140px, 2%);
}

footer ul {
  display: flex;
  align-items: center;
  gap: 2.25rem;
}

footer section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

@media screen and (max-width: 1300px) {
  footer {
    justify-content: center;
  }
}