footer {
  background-color: #F6F6F6;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: clamp(2.75rem, 9%, 10rem);

  min-height: 126px;

  padding: 2.75rem 0;
  padding-inline-start: min(140px, 7.3%);
  padding-inline-end: min(140px, 2%);
}

footer ul {
  display: flex;
  align-items: center;
  gap: 2.25rem;
}

footer section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

@media screen and (max-width: 1300px) {
  footer {
    justify-content: center;
  }
}

@media screen and (max-width: 640px) {
  
}

@media screen and (max-width: 640px) {
  footer {
    justify-content: left;
    padding: 7.75vw 9.75vw;
    gap: 9.5vw;
  }
  
  footer ul {
    height: 5.95vw;
    gap: 5.97vw;
    width: 100%;
    justify-content: center;
  }

  footer ul :is(li, img) {
    height: 100%;
  }
  
  footer section {
    justify-content: left;
    gap: 1vw;
  }
  
  footer section * {
    font-size: 2.67vw;
  }
}