header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: sticky;
  top: 0;
  z-index: 1;

  background-color: white;
  height: 122px;
  padding-inline: min(140px, 7.3%);
}

header h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.75rem;


  text-transform: capitalize;
  font-size: 1.25rem;
  font-weight: 300;
}

header ul li {
  transition: all 650ms;
}

header nav ul li:hover, 
header nav ul li.selected {
  font-weight: 300;           /*  buga layout  */
  transform: scale(1.2);
}


/* ----- scale down header to prevent overflow ----- */
@media screen and (640px < width <= 900px) /* 768 */{
  header {
    /* height: 122vw; */
    height: 13.55vw;
  }

  header h1 {
    /* font-size: 40vw; */
    font-size: 4.44vw;
  }
  
  header ul {
    /* font-size: 20vw; */
    font-size: 2.22vw;
    /* gap: 44vw; */
    gap: 4.88vw;
  }
}

/*  ----- Mobile Size   375 × 667 ----- */
@media screen and (max-width: 640px) {

  header {
    justify-content: center;
    height: 7.75vw;
  }
  
  header h1 {
    font-size: 1.15rem;
    font-size: 4.75vw;
    display: flex;
    align-items: center;
  }
  
  header nav::before {
    content: "☰";
  }
  
  header nav {
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: black;
    color: white;
    height: 7.75vw;
    width: 29.6vw;
    
    position: absolute;
    left: 0;
  }
  
  header nav ul {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0;
    
    font-size: .85rem;
    font-size: 3.25vw;
    
    opacity: 0%;
    visibility: hidden;
    position: absolute;
    top: 7.75vw;
    overflow: hidden;

    transition: 500ms;

    background-color: inherit;
    width: 100%;
    padding-bottom: 1vw;
  }

  header nav:hover ul {
    opacity: 100%;
    visibility: visible;
  }

  header nav ul a {
    width: 100%;
  }

  header nav ul li {
    width: 100%;
    padding: 2.13vw 6.4vw;
  }

  header nav ul li:hover {
    background-color: #ffffff33;
  }

  header nav ul li:is(:hover, .selected) {
    transform: scale(1.05);
  }
}