header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: sticky;
  top: 0;
  z-index: 1;

  background-color: white;
  height: 122px;
  padding-inline: min(140px, 7.3%);
}

header h1 {
  font-size: 2.5rem;
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.75rem;


  text-transform: capitalize;
  font-size: 1.5rem;
  font-weight: 100;
}

header ul li {
  transition: all 650ms
}

header ul li:hover {
  font-weight: 900;
  transform: scale(1.2);
}

header nav .selected {
  font-weight: 900;
}


/*  ----- Mobile Size   375 × 667 ----- */
@media screen and (max-width: 650px) {

  header {
    justify-content: center;
    height: 7.2vw;
  }
  
  header h1 {
    font-size: 1.15rem;
    font-size: 4.75vw;
    display: flex;
    align-items: center;
  }
  
  header nav::before {
    content: "☰";
  }
  
  header nav {
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: black;
    color: white;
    height: 7.2vw;
    width: 29.6vw;
    
    position: absolute;
    left: 0;
  }
  
  header nav ul {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0;
    
    font-size: .85rem;
    font-size: 3.6vw;
    
    opacity: 0%;
    visibility: hidden;
    position: absolute;
    top: 7.2vw;
    transition: 500ms;

    background-color: inherit;
    width: 100%;
    /* padding: 1rem 1.5rem; */
  }

  header nav:hover ul {
    opacity: 100%;
    visibility: visible;
  }

  header nav ul a {
    width: 100%;
  }

  header nav ul li {
    width: 100%;
    padding: 0.5rem 1.5rem;
  }

  header nav ul li:hover {
    transform: none;
    background-color: #ffffff33;
  }
}