header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: sticky;
  top: 0;

  background-color: white;
  height: 122px;
  padding-inline: min(140px, 7.3%);
}

header h1 {
  font-size: 2.5rem;
}

header ul {
  display: flex;
  gap: 2.75rem;
  
  font-size: 1.5rem;
  text-transform: capitalize;
  font-weight: 100;
}

header ul li:hover {
  font-weight: 900;
}




/*  ----- Mobile Size   375 × 667 ----- */